 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 5189px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: 19px -102px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -240px auto 0 -21px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -87px 475px 0 -50px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 326px;
  margin: -232px -15px 0 650px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 117px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px) calc(33.3333% - 8.66667px);
  min-height: 4318px;
  grid-gap: 13px 13px;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-1 .u-image-1 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-1 .u-image-2 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-1 .u-image-3 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-5 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-6 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-4 {
  padding: 17px 0;
}

.u-section-1 .u-image-4 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-7 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-8 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-5 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-5 {
  padding: 17px 0;
}

.u-section-1 .u-image-5 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-9 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-10 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-6 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-6 {
  padding: 17px 0;
}

.u-section-1 .u-image-6 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-12 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-11 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-12 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-7 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-7 {
  padding: 17px 0;
}

.u-section-1 .u-image-7 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-13 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-14 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-8 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-8 {
  padding: 17px 0;
}

.u-section-1 .u-image-8 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-15 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-16 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-9 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-9 {
  padding: 17px 0;
}

.u-section-1 .u-image-9 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-18 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-17 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-18 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-10 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-10 {
  padding: 17px 0;
}

.u-section-1 .u-image-10 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-20 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-19 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-20 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-11 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-11 {
  padding: 17px 0;
}

.u-section-1 .u-image-11 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-22 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-21 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-22 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-12 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-12 {
  padding: 17px 0;
}

.u-section-1 .u-image-12 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-24 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-25 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-23 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-24 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-13 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-13 {
  padding: 17px 0;
}

.u-section-1 .u-image-13 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-26 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-27 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-25 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-26 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-14 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-14 {
  padding: 17px 0;
}

.u-section-1 .u-image-14 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-28 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-29 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-27 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-28 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

.u-section-1 .u-list-item-15 {
  transition-duration: 10s;
  background-image: linear-gradient(#c9bca9, #e0d8cc);
}

.u-section-1 .u-container-layout-15 {
  padding: 17px 0;
}

.u-section-1 .u-image-15 {
  width: 335px;
  height: 536px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-30 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 12px 34px 0 26px;
}

.u-section-1 .u-text-31 {
  font-size: 0.875rem;
  margin: 0 18px 0 28px;
}

.u-section-1 .u-btn-29 {
  background-image: linear-gradient(to right, #b2a289, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 9px auto 0 28px;
  padding: 9px 32px 9px 30px;
}

.u-section-1 .u-btn-30 {
  background-image: linear-gradient(to right, #b2a289, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px 18px 0 auto;
  padding: 9px 32px 9px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6119px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1259px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -239px;
  }

  .u-section-1 .u-text-1 {
    width: 597px;
    margin-top: -1329px;
    margin-right: 375px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 480px;
    margin-top: -79px;
    margin-left: 550px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 292px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 3560px;
  }

  .u-section-1 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 535px;
    margin-top: 262px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -187px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    height: 535px;
    margin-top: 284px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-3 {
    height: 535px;
    margin-top: 146px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-4 {
    height: 535px;
    margin-top: 190px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-5 {
    height: 535px;
    margin-top: 168px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-6 {
    height: 535px;
    margin-top: 212px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -137px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-7 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-7 {
    height: 535px;
    margin-top: 102px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-8 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-8 {
    height: 535px;
    margin-top: 168px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-9 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-9 {
    height: 535px;
    margin-top: 190px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -115px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-10 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-10 {
    height: 535px;
    margin-top: 190px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-11 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-11 {
    height: 535px;
    margin-top: 130px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-12 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-12 {
    height: 535px;
    margin-top: 102px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-13 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-13 {
    height: 535px;
    margin-top: 102px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-14 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-14 {
    height: 535px;
    margin-top: 102px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-28 {
    margin-right: 0;
  }

  .u-section-1 .u-list-item-15 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-15 {
    height: 535px;
    margin-top: 102px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-30 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 8514px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 3654px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -3724px;
    margin-right: 265px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 440px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 6.5px) calc(50% - 6.5px);
    min-height: 4402px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 212px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -137px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 262px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -187px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 124px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -93px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 190px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 146px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -71px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 13408px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 8548px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: -8618px;
    margin-right: 175px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 350px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 146px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -71px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -93px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -27px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 124px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -49px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 124px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -49px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 146px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -71px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -5px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 124px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -49px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 124px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -49px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 146px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -71px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-22 {
    margin-top: -5px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-24 {
    margin-top: -5px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -5px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -5px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-30 {
    margin-top: -5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15244px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 10384px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2rem;
    margin-top: -10424px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: -205px;
    margin-left: 250px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 418px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 262px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -187px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 124px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -49px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 190px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 190px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 168px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 190px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 130px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-14 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-15 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-30 {
    margin-top: 12px;
  }
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-3 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-2 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-4 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before,
.u-section-1 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-5 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-5 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-5 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before,
.u-section-1 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-6 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-6 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-6 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-7,
.u-section-1 .u-list-item-7:before,
.u-section-1 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-7 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-7 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-7 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-8,
.u-section-1 .u-list-item-8:before,
.u-section-1 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-8 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-8 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-8 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-9,
.u-section-1 .u-list-item-9:before,
.u-section-1 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-9 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-9 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-9 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-10,
.u-section-1 .u-list-item-10:before,
.u-section-1 .u-list-item-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-10 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-10 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-10 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-11,
.u-section-1 .u-list-item-11:before,
.u-section-1 .u-list-item-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-11 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-11 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-11 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-12,
.u-section-1 .u-list-item-12:before,
.u-section-1 .u-list-item-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-12 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-12 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-12 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-13,
.u-section-1 .u-list-item-13:before,
.u-section-1 .u-list-item-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-13 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-13 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-13 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-14,
.u-section-1 .u-list-item-14:before,
.u-section-1 .u-list-item-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-14 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-14 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-14 {
  opacity: 1 !important;
}

.u-section-1 .u-list-item-15,
.u-section-1 .u-list-item-15:before,
.u-section-1 .u-list-item-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-15 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-15 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-15 {
  opacity: 1 !important;
}

.u-section-1 .u-image-8:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-image-8:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-image-8:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}